.sidebar-container {
  width: 300px;
  /* background-color: rgb(38, 29, 167); */
  /* height: 89vh; */
  height: 100vh;
  overflow-y: auto;
  transition: width 0.3s ease;
  margin-top: 85px;
  z-index: 1;
  position: fixed;
  background-color: rgb(192, 191, 191);
  color: white;
}

.submenu {
  list-style: none;
  color: #080808;
}

.submenu-item {
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 17px;
  color: rgb(7, 7, 7) !important;
  display: block;
  padding: 7px !important;
}

.submenu-item.active {
  background-color: #fff !important;
  font-weight: bold;
  color: black !important;
  border-radius: 3px;
}

.submenu-arrow {
  margin-left: auto;
}

.sidebar-container.collapsed {
  width: 80px;
}

.sidebar-container.collapsed .submenu {
  display: none;
}

.sidebar-container.collapsed .menu .menu-text {
  opacity: 0;
  visibility: hidden;
}

.sidebar {
  padding: 10px;

}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  margin-bottom: 10px;
  border-radius: 12px;
  font-size: 19px;
  font-weight: 700;
  color: rgb(8, 8, 8);
  /* color: black; */
}

.menu-item i {
  color: #070707;
}

.menu-link {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: background 0.3s ease;
}

.menu-text {
  margin-left: 10px;
  color: rgb(10, 10, 10);
}

.submenu {
  list-style-type: none;
  margin: 0;
  padding-left: 10px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.submenu.collapsed {
  max-height: 0;
  visibility: hidden;
}

.submenu.expanded {
  max-height: 410px;
  visibility: visible;
  font-size: 17px;
  background-color: white;
  font-weight: 700;
  padding-left: 10px;
}

.submenu-item i {
  padding: 0 5px;
}

.submenu-item {
  padding: 10px 0;
  cursor: pointer;
}

.submenu-item {
  color: black;
}

.submenu-arrow {
  margin-left: auto;
  transition: transform 0.3s ease;
}

.submenu-arrow.rotated {
  transform: rotate(360deg);
}

.menu-item.active .menu-link {
  background-color: white;
  /* Highlight active menu item */
  color: black;
  /* Active text color */
  border-radius: 12px;
}

.sidebar-container.collapsed .submenu .submenu-item i {
  display: hidden;
}

.submenu-item.active {
  background-color: #3e4bbb;
  color: black;
  border-radius: 12px;
  padding-left: 20px;
}

@media (max-width: 820px) {
  .sidebar-container.collapsed {
    width: 0px;
    z-index: 999;
    position: absolute;
  }
}

